.upload__video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}

#preview {
    width: 600px;
    height: 335px;
    margin: 30px;
}