extends base.pug

block content 
    div#videoContainer(data-id = video._id)
        video#videoInPlayer(src="/" + video.fileUrl)
        div#videoControls
            div#videoCotnrols-timeline
                input(type="range", step="1", value=0, min="0")#timeline
            div#videoControls-components
                div#videoControls-components__controlers
                    span#play.fa-solid.fa-play.videoControls-components
                    span#mute.fa-solid.fa-volume-high.videoControls-components
                    input(type="range", step="0.02", value=0.5, min="0", max="1")#volume.videoControls-components
                    div.videoControls-components
                        span#currentTime 00:00
                        span  / 
                        span#totalTime 00:00                           
                span#fullScreenBtn.fa-solid.fa-expand.videoControls-components
    br
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

    br
    if loggedIn
        div.video__add-comments 
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment")
                button Add Comment
    if !loggedIn
        span log in for comment

    div.video__comments
        ul 
            each comment in video.comment.reverse()
                li.video__comment(data-id=comment.id)
                    div
                        i.fas.fa-comment
                        span   #{comment.text}
                    div 
                        if String(comment.owner._id) === String(loggedInUser._id)
                            span.fas.fa-x.deleteBtn
    

block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")



